@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <div class="">
            <img src="~/images/danny.png" id="icon" alt="User Icon" class="img img-thumbnail" width="175px" height="160px"/>
        </div>
        @if (ViewData["Error"] != null)
            {
                <strong style="color: red; margin-top: 15px">@ViewData["Error"]</strong>
            }
        <!-- Login Form -->
        <form method="post" asp-action="Login" class="form-signin">
            <input type="text" id="login" name="username" placeholder="Login" class="form-control" required autofocus>
            <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

        </form> 
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
