
@{
    ViewData["Title"] = "New Movie";
    ViewData["PageHeading"] = "Add New Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div>
        <div class="col-md-2">
            <label for="MovieTitle" style="font-size: 15px"><strong>MOVIE TITLE</strong></label>
        </div>
        <div class="col-md-4">
            <input type="text" id="movietitle" placeholder="">
        </div>
    </div>

    <div>
        <div class="col-md-3">
            <label for="RunningTime" style="font-size: 15px"><strong>RUNNING TIME(HH:mm)</strong></label>
        </div>
        <div class="col-md-3">
            <input id="runningtime">
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/main/addmovie.js"></script>
}


