
@{
    ViewData["Title"] = "New Movie";
    ViewData["PageHeading"] = "Add New Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div>
        <div class="col-md-2">
            <label for="MovieTitle">Movie Title</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="movietitle" placeholder="">
        </div>
    </div>

    <div>
        <div class="col-md-2">
            <label for="RunningTime">Running Time</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="runningtime" placeholder="">
        </div>
    </div>
</div>
@section Scripts{
}


