@{
    ViewData["Title"] = "Home Page";
    ViewData["PageHeading"] = "All Added Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hello</h1>
<<<<<<< HEAD

@section Scripts{
    <script src="~/js/main/allmovies.js"></script>
}
=======
>>>>>>> a3fe7956ee5c9787d48f99dd2738c77e0b90f6bd
