@{
    ViewData["Title"] = "Home Page";
    ViewData["PageHeading"] = "All Added Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hello</h1>

@section Scripts{
    <script src="~/js/main/allmovies.js"></script>
}
